.charts{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 700px;
       
    }
    .input{
        height: 55px;
        }
 .custom-dropdown .ui-dropdown-panel {
            max-height: 300px; /* Adjust the height as per your requirement */
        }
   