/* CSS for the delete button */
.delete-button {
    margin-right: 10px; /* Add some margin to separate it from goal name and target */
    transition: background-color 0.3s ease; /* Add transition effect */
  }
  
  .delete-button:hover {
    background-color: #971111; /* Change background color on hover */
  }
  
  /* CSS for the goal card */
  .goal-card {
    margin-bottom: 20px; /* Add some bottom margin to separate it from other cards */
  }
  